@font-face {
    font-family: "cubic11";
    src: url("../font/Cubic_11.woff2");
}

html {
    box-sizing: border-box;
    font-family: "cubic11", sans-serif;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
    font-family: "cubic11", sans-serif;
}
body{
    background-image: url("../image/UI/gameAreaBg.png");
    background-position: -50px -50px;
    background-color: #202020;
    margin: 0;
    height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


#menu-btn {
    display: none;
}  

.menu{
    display: none;
}
.nav-bar{
    background-image: url("../image/UI/Banner_Slots.png");
    background-size: contain;
    position: absolute;
    top: -50px;
    left: 300px;
    width: calc(100% - 300px);
    color: white;
    background-color: gray;
    transition: top 0.2s;
    border: grey 3px solid;
}



.nav-bar:hover{
    top: 0px;
}

.nav-bar:active{
    top: 0px;
}



.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
    margin-left: 30px;
}

.nav-item{
    list-style: none;
    margin-right: 150px;
}

.nav-text{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

#ui-bar{
    background-image: url('../image/UI/UIbg.png');
    background-position: -50px -75px;
    background-size:  200% 125%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-right: 1%;
    background-color: #202020;
    border-right: 3px solid gray;
}
#ui-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 2%;
}
#maze-level{
    position: absolute;
    top : 20px;
    left: 40px;
    width: 40px;
    height: 28px;
    text-align: center;
    color: white;
    background-color: #202020;
    font-size: 24px;
    display: block;
}
#minimap{
    display: block;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    flex: 0 0 auto;
    background-color: gray;
    background-image: url("../image/UI/mapBg.png");
    background-size: 100% 100%;
}
#stats{
    background-color: #404040;
    margin-top: 1em;
    border: 3px solid gray;
    border-radius: 10px;
    padding: 3%;
    flex: 0 0 auto;
    width: 100%;
}
.stats-bar{
    border-top: 3px solid;
}
.stats-label{
    color:white;
    margin: 0;
}
#health{
    width: 100%;
    border-color: red;
    transition: width 0.5s;
}
#stamina{
    border-color: green;
    transition: width 0.5s;
}
#mp{
    border-color: blue;
    transition: width 0.5s;
}
#backpack{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5em;
    overflow-y: auto;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex: 1 1 auto;
    background-color: #404040;
    border: 3px solid gray;
    border-radius: 10px;
    align-content: start;
}
.backpack-item{
    position: relative;
    aspect-ratio: 1;
    
}
.item-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.item-amount{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
#game-area{
    background-image: url("../image/UI/Banner_Slots.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    left: 300px;
    width: calc(100% - 300px);
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 5% 5%;
}
body{
    background-position: -50px 0;
    background-size: 125% 100%;
    background-repeat: no-repeat;
    background-color: #202020;
}
#description-box{
    background-color: #d8d8d8;
    border: #202020 3px solid;
    border-radius: 10px;
    height: 30%;
    margin-bottom: 1.5em;
    padding: 1%;
}
#description{
    flex: 0 1 auto;
}
.command-area{
    flex: 0 1 auto;
    padding: 1% 0 0 0;
}

.command-button{
    background-image: url("../image/UI/button.png");
    background-size: 100% 100%;
    border: none;
    border-radius: 10px;
    color: white;
    width: 100px;
    height: 75px;
    margin: 1em;
    cursor: pointer;
}

.command-button:hover{
    background-image: url("../image/UI/button-hover.png");
}

.movement-buttons{
    display: grid;
    grid-template-areas: 
    ". up ."
    "left down right";
    width: 400px;
}


#movement-up{
    grid-area: up;
}

#movement-left{
    grid-area: left;
}

#movement-down{
    grid-area: down;
}

#movement-right{
    grid-area: right;
}


#item-command-box{
    position: absolute;
    width: 75px;
    height: auto;
    background-color: #202020;
    z-index: 10;

}

.item-command-list{
    list-style: none;
    padding: 4px;
    margin: 0;
}
.item-command{
    color: white;
    padding: 4px;
    cursor: pointer;
}

.item-command:hover{
    background-color: #404040;
}

#battle-area{
    background-color: #d8d8d8;
    border: #202020 3px solid;
    border-radius: 10px;
}

.battle-description-box{
    padding: 1%;
}

#battle-enemys{
    padding: 1%;
    display: flex;
    flex-direction: row;
}
.enemy-box{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    padding: 1%;
}

.selectable-enemy-box{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid red;
    padding: 1%;
    cursor: pointer;
}
.selectable-enemy-box:hover{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #404040;
    border: 2px solid orange;
    padding: 1%;
}



.text{
    color: black;
}

.hidden{
    display: none;
}

@media (max-width: 768px){

    #maze-level{
        top : 20px;
        left: 10px;
        width: 30px;
        height: 20px;
        font-size: 16px;
    }
    #ui-bar{
        background-position: -100px 0;
    }
    #menu-btn {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        z-index: 5;
        font-size: 24px;
        color: white;
        background-color: #404040;
        padding: 5px 10px;
        border: 2px solid gray;
        cursor: pointer;
    }

    .menu{
        background-image: url("../image/UI/Banner_Slots.png");
        background-size: contain;
        display: flex;
        flex-direction: column;
        background-color: #404040;
        width: 200px;
        height: 100%;
        justify-content: flex-start;
        position: fixed;
        z-index: 6;
        top: 0px;
        left: -200px;
        transition: left 0.3s ease;
        padding-top: 50px;
    }
    .menu .nav-list {
        margin: 10px 0 0 0;
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .menu .nav-item {
        margin: 16px 0;
    }
    #menu.show{
        top: 0px;
        left: 0px;
        border-right: 3px solid gray;
    }
    .nav-bar{
        display: none
    }
    #ui-bar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 150px;
        border-right: none;
        border-bottom: 3px solid gray;
    }
    #ui-body{
        flex-direction: row;
        padding-left: 0;
    }
    #minimap{
        width: auto;
        height: 100%;
        flex: 0 0 auto;
    }
    #stats{
        width: 120px;
        flex: 0 0 auto;
        margin: 10px 0px 5px 10px;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    #backpack{
        margin: 10px 10% 5px 5px;
        grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    }
    #game-area{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 150px);
        padding: 5% 5% 5% 5%;
        top: 150px;
    }
}

@media (max-width: 540px) {

   
    .command-button{
        width: 60px;
    }
    .movement-buttons{
        width: auto;
        gap: 0;
    }
    #backpack{
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 150px;
        z-index: 10;
        background-color: #404040;
        border-top: 3px solid gray;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        margin: 0;
    }
    #game-area{
        bottom: 200px;
        height: auto;
    }
    #stats{
        width: auto;
    }
}
