@font-face {
    font-family: "cubic11";
    src: url("../font/Cubic_11.woff2");
}

html {
    box-sizing: border-box;
    font-family: "cubic11", sans-serif;
    height: 100%;
}
*, *::before, *::after {
    box-sizing: inherit;
    font-family: "cubic11", sans-serif;
}
body{
    background-color: #202020;
    margin: 0;
    height: 100%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.nav-bar{
    position: absolute;
    top: -50px;
    left: 300px;
    width: calc(100% - 300px);
    color: white;
    background-color: gray;
    transition: top 0.2s;
}

.nav-bar:hover{
    top: 0px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-content: center;
}

.nav-item{
    list-style: none;
    margin-right: 5%;
}

.nav-text{
    color: white;
    font-size: 24px;
    text-decoration: none;
}

#ui-bar{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 250px;
    height: 100%;
    padding-right: 1%;
    background-color: #202020;
    border-right: 3px solid gray;
}
#ui-body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-left: 2%;
}
#minimap{
    display: block;
    width: 100%;
    aspect-ratio: 1;
    height: auto;
    flex: 0 0 auto;
    background-color: gray;
}
#stats{
    flex: 0 0 auto;
    width: 100%;
}
.stats-bar{
    border-top: 3px solid;
}
.stats-label{
    color:white;
    margin: 0;
}
#health{
    width: 100%;
    border-color: red;
    transition: width 0.5s;
}
#stamina{
    border-color: green;
    transition: width 0.5s;
}
#mp{
    border-color: blue;
    transition: width 0.5s;
}
#backpack{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 0.5em;
    overflow-y: auto;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex: 1 1 auto;
    background-color: #404040;
}
.backpack-item{
    position: relative;
    aspect-ratio: 1;
    
}
.item-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.item-amount{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}
#game-area{
    position: absolute;
    top: 10%;
    left: 250px;
    display: flex;
    flex-direction: column;
    padding: 5% 5% 0 5%;
}
#description{
    flex: 1 1 auto;
}
#command-area{
    flex: 1 1 auto;
}

.text{
    color: white;
}

